<td width= "400"*ngFor="let col of columns; last as isLast">
    <!--<div *ngIf="isLast" class="component-tag-sm">
        <span>app-table-row</span>
    </div>
    <div class="col-md-4 img-hover"> <img class="img-responsive img-rounded" src="{{character[col]}}" width="100" /> </div>
    <div> <a href="{{character[col]}}"> $</a></div>-->
    <!--<div *ngIf="isLast" class="component-tag-sm">
        <span>app-table-row</span>
    </div>-->
    <figure class="col-md-4">

      <a (click)="toggle(character['age'])" class="black-text" target="iframe_a" href="{{character[col]}}"
         data-size="160x106">
        <!--<img alt=".." src="{{character[col]}}"
             width="15" />-->
        {{character[col]}}
        <h3 class="text-center my-3"></h3>
      </a>
    </figure>
</td>



<!--<p><a href="https://www.w3schools.com" target="iframe_a">W3Schools.com</a></p>-->
<script>
    $(function () {
        $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
    });
</script>
